<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohot.mapper.ReportFormMapper">

<select id="reportFormVODetail" resultType="com.ohot.vo.ReportmanageVO">
	SELECT  M.MEM_NO, M.MEM_LAST_NAME, M.MEM_FIRST_NAME, M.MEM_NICKNM, M.MEM_EMAIL
		, REGEXP_REPLACE(M.MEM_TELNO, '(.{3})(.{4})(.{4})', '\1-\2-\3') AS MEM_TELNO
		, REGEXP_REPLACE(M.MEM_BIRTH, '(.{4})(.{2})(.{2})', '\1-\2-\3') AS MEM_BIRTH
        , REGEXP_REPLACE(M.JOIN_YMD, '(.{4})(.{2})(.{2})', '\1-\2-\3') AS JOIN_YMD
        , REGEXP_REPLACE(M.SECSN_YMD, '(.{4})(.{2})(.{2})', '\1-\2-\3') AS SECSN_YMD, M.MEM_STAT_SEC_CODE_NO, M.MEM_SEC_CODE_NO, M.MEM_DEL_YN
        , A.ART_NO, A.ART_GROUP_NO, A.ART_ACT_NM, A.ART_EXPLN, REGEXP_REPLACE(A.ART_REG_YMD, '(.{4})(.{2})(.{2})', '\1-\2-\3') AS ART_REG_YMD 
        , A.FILE_GROUP_NO, A.ART_DEL_YN
        , FG.FILE_REGDATE
        , FD.FILE_SN, FD.FILE_ORIGINAL_NAME, FD.FILE_SAVE_NAME, FD.FILE_SAVE_LOCATE, FD.FILE_SIZE, FD.FILE_EXT
        , FD.FILE_MIME, FD.FILE_FANCYSIZE, FD.FILE_SAVE_DATE, FD.FILE_DOWNCOUNT
		FROM MEMBER M 
		    LEFT OUTER JOIN ARTIST A ON(M.MEM_NO = A.MEM_NO)
		    LEFT OUTER JOIN FILE_GROUP FG ON(A.FILE_GROUP_NO = FG.FILE_GROUP_NO)
		    LEFT OUTER JOIN (
		         SELECT FILE_SN, FILE_GROUP_NO, FILE_ORIGINAL_NAME, FILE_SAVE_NAME
		                , FILE_SAVE_LOCATE, FILE_SIZE, FILE_EXT, FILE_MIME, FILE_FANCYSIZE
		                , FILE_SAVE_DATE, FILE_DOWNCOUNT, ROW_NUMBER() OVER (PARTITION BY FILE_GROUP_NO ORDER BY FILE_SN DESC) AS RN
		         FROM FILE_DETAIL
		    ) FD ON FG.FILE_GROUP_NO = FD.FILE_GROUP_NO AND FD.RN = 1
		WHERE 1 = 1
		<!-- <if test="memNo!=0 and memNo!=null">
			AND M.MEM_NO = #{memNo}		
		</if> -->
		ORDER BY ART_NO DESC
</select>


<select id="reportList" resultType="com.ohot.vo.ReportmanageVO" parameterType="com.ohot.vo.ReportmanageVO">
	
	 SELECT A.MEM_NO
     	  , A.MEM_EMAIL AS REPORTLIST
     FROM  
         MEMBER A
     ,   REPORT_BOARD_POST B
    WHERE MEM_EMAIL = #{memEmail}
    
</select>


<update id="editPost" parameterType="com.ohot.vo.ReportmanageVO">
	<selectKey resultType="int" order="BEFORE" keyProperty="reportPostNo">
        SELECT NVL(MAX(REPORT_POST_NO),0)+1 
        FROM   REPORT_BOARD_POST
	</selectKey>

	INSERT INTO REPORT_BOARD_POST(
    REPORT_POST_NO, REPORT_BOARD_NO, REPORT_TITLE,
    REPORT_CN, REPORT_REG_DT, REPORT_CHG_DT,
    REPORT_DEL_YN, MEM_NO, REPORT_CNT, REPORT_TERMINATION,
    FILE_GROUP_NO, REPORT_GUBUN
	) 
	VALUES(
	    #{reportPostNo}, #{reportBoardNo}, #{reportTitle}, 
	    #{reportCn}, TO_DATE(TO_CHAR(SYSDATE, 'yyyy.mm.dd hh24:mi'), 'yyyy.mm.dd hh24:mi'), #{reportChgDt},
	    'N', #{memNo}, 1, 7,
	    #{fileGroupNo},#{reportGubun}
	)
</update>

</mapper>



